{% extends 'base.html' %}

{% block content %}
<h1>Search the Marketplace:</h1>
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2"
    type="search" placeholder="Search by name..." name="q">
    <button class="btn btn-outline-success my-2 my-sm-0"
            type="submit">Search</button>
</form>

 <table class="table table-hover table-striped">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Sold by</th>
<!--            <th scope="col">Options</th>-->
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {%for item in items%}
        <tr>
            <td>{{ item.name }}</td>
            <td style="font-weight: bold;">{{ item.price }}</td>
            <td><h5><a href="/user/{{item.owner.username}}" class="badge badge-pill badge-secondary">{{ item.owner.username }}</a></h5></td>
            <td>
                <button class="btn btn-outline btn-primary">More Info</button>
<!--                <button class="btn btn-outline btn-success">Purchase this item</button>-->
            </td>
        {% endfor %}
        </tr>
    </tbody>
  </table>

{% endblock %}