{% extends "base.html" %}

{% block content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>User: {{ user.username }}</h1>
            {% if user.last_seen %}
                <p>Last seen: {{ moment(user.last_seen).fromNow() }}</p>
            {% endif %}
            </td>
        </tr>
    </table>
    <hr>
<h2>Items for sale:</h2>
    {% for item in items %}
    <p>
    {{ item.name }} <b>{{ item.price }}</b>
    </p>
    {% endfor %}
{% endblock %}